
body {
  background-color: #e6e6e6;
}

.card-body {
  background-color: skyblue;
}

.grid-container {
  margin: 10px;
  padding: 10px;
}
.states {
  text-align: center;
}


.activities {
  text-align: center;
}

.button-group {
  padding: 1px;
}
.card-weather {
  background-color: orange;
}

.hero-section {
  background: url("../Images/HeroIMG.jpg") 50% no-repeat;
  background-size: cover;
  height: 60vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-section .hero-section-text {
  color: #fefefe;
  text-shadow: 1px 1px 2px #0a0a0a; 
}

.switch-toggle-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.switch-toggle-wrapper .switch {
  margin-bottom: 0;
}

.posts-panel {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  float: none !important;
  margin: 1.25rem 0.625rem;
  background-color: #fefefe;
  border-radius: 0;
  box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.2);
}

.posts-panel::before, .posts-panel::after {
  display: table;
  content: ' ';
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.posts-panel::after {
  clear: both;
}

@media print, screen and (min-width: 40em) {
  .posts-panel {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

.posts-panel:last-child:not(:first-child) {
  float: right;
}

.posts-panel, .posts-panel:last-child {
  float: none;
}

.posts-panel .panel-header {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  border-bottom: 0.25rem solid #e6e6e6;
}

.posts-panel .panel-header::before, .posts-panel .panel-header::after {
  display: table;
  content: ' ';
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.posts-panel .panel-header::after {
  clear: both;
}

@media print, screen and (min-width: 40em) {
  .posts-panel .panel-header {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

.posts-panel .panel-header:last-child:not(:first-child) {
  float: right;
}

.posts-panel .panel-header, .posts-panel .panel-header:last-child {
  float: none;
}

.posts-panel .panel-header .panel-title {
  margin: 0;
  padding: 0.9375rem 0;
  color: #8a8a8a;
  font-size: 1.625rem;
}


.posts-panel .panel-content {
  padding: 0.9375rem 0;
}

.posts-panel .pinned-post, .posts-panel .posts-list {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  float: left;
  padding-right: 0;
  padding-left: 0;
}

.posts-panel .pinned-post::before, .posts-panel .pinned-post::after, .posts-panel .posts-list::before, .posts-panel .posts-list::after {
  display: table;
  content: ' ';
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}


.posts-panel .pinned-post::after, .posts-panel .posts-list::after {
  clear: both;
}

.posts-panel .pinned-post:last-child:not(:first-child), .posts-panel .posts-list:last-child:not(:first-child) {
  float: right;
}

.posts-panel .pinned-post, .posts-panel .pinned-post:last-child, .posts-panel .posts-list, .posts-panel .posts-list:last-child {
  float: none;
}

.posts-panel .posts-list .post-item:not(:last-child) {
  border-bottom: 0.0625rem solid #e6e6e6;
}


.posts-panel .post-item {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
  padding: 0.9375rem 0;
}

.posts-panel .post-item::before, .posts-panel .post-item::after {
  display: table;
  content: ' ';
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}


.posts-panel .post-item::after {
  clear: both;
}

.posts-panel .post-item .post-thumbnail {
  display: block;
  width: 33.33333%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
}

@media print, screen and (min-width: 40em) {
  .posts-panel .post-item .post-thumbnail {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}


.posts-panel .post-item .post-thumbnail:last-child:not(:first-child) {
  float: right;
}

.posts-panel .post-item .post-thumbnail img {
  width: 100%;
  height: auto;
}

.posts-panel .post-item .post-text {
  width: 66.66667%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
}

@media print, screen and (min-width: 40em) {
  .posts-panel .post-item .post-text {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

.posts-panel .post-item .post-text:last-child:not(:first-child) {
  float: right;
}

.posts-panel .post-item .post-text p {
  margin: 0;
}

.posts-panel .post-item .post-title {
  font-size: 1.625rem;
}

.posts-panel .post-item .post-meta {
  color: #8a8a8a;
  font-size: 0.875rem;
}

.posts-panel .post-item .meta {
  display: inline-block;
  margin-right: 0.9375rem;
}

.posts-panel .post-item .meta-icon, .posts-panel .post-item .meta-text {
  display: inline-block;
  padding-right: 0.3125rem;
}

.posts-panel .post-item .post-read-more {
  display: block;
  font-size: 0.875rem;
}

.posts-panel .post-item .post-read-more .fa {
  padding: 0 0.3125rem;
}

.posts-panel .pinned-post .post-item {
  border-bottom: 0.0625rem solid #e6e6e6;
}

.posts-panel .pinned-post .post-thumbnail {
  display: block;
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
}

.posts-panel .pinned-post .post-thumbnail::before, .posts-panel .pinned-post .post-thumbnail::after {
  display: table;
  content: ' ';
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.posts-panel .pinned-post .post-thumbnail::after {
  clear: both;
}

@media print, screen and (min-width: 40em) {
  .posts-panel .pinned-post .post-thumbnail {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

.posts-panel .pinned-post .post-thumbnail:last-child:not(:first-child) {
  float: right;
}

.posts-panel .pinned-post .post-thumbnail, .posts-panel .pinned-post .post-thumbnail:last-child {
  float: none;
}

.posts-panel .pinned-post .post-thumbnail img {
  width: 100%;
  height: auto;
}

.posts-panel .pinned-post .post-text {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  margin-top: 0.9375rem;
}

.posts-panel .pinned-post .post-text::before, .posts-panel .pinned-post .post-text::after {
  display: table;
  content: ' ';
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.posts-panel .pinned-post .post-text::after {
  clear: both;
}

@media print, screen and (min-width: 40em) {
  .posts-panel .pinned-post .post-text {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

.posts-panel .pinned-post .post-text:last-child:not(:first-child) {
  float: right;
}

.posts-panel .pinned-post .post-text, .posts-panel .pinned-post .post-text:last-child {
  float: none;
}

@media screen and (max-width: 39.9375em) {
  .posts-panel .posts-list .post-title {
    font-size: 1.125rem;
  }
  .posts-panel .posts-list .post-meta {
    font-size: 0.75rem;
  }
  .posts-panel .posts-list .post-summary {
    font-size: 0.75rem;
  }
  .posts-panel .posts-list .post-read-more {
    display: none;
  }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .posts-panel .posts-list .post-title {
    font-size: 1.25rem;
  }
  .posts-panel .posts-list .post-meta {
    font-size: 0.875rem;
  }
  .posts-panel .posts-list .post-summary {
    font-size: 0.875rem;
  }
}

.test {
  width: 500px;
}

.test2 {
  margin-top: 0px;
}

